# Compiled files
*.exe
*.dll
*.obj
*.pyc
*.pyo
*.pyd
__pycache__/

# Visual Studio / VSCode
.vscode/
.vs/
bin/
obj/
Debug/
Release/
*.user
*.suo
*.cache
*.pdb
*.dbmdl
*.opendb

# Build artifacts
*.dll
*.exe
*.log

# OS files
.DS_Store
Thumbs.db

# ReSharper / Rider / JetBrains
.idea/
*.DotSettings.user

# Environment / Dependencies
.env
venv/
node_modules/
